In [75]:
import data_generator

import importlib
importlib.reload(data_generator)

In [76]:
dg = data_generator.DataGenerator('/home/csv/answers_2020-08-11-1656.csv')

In [77]:
dg.generate()

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [78]:
dg.df_human_info.head()

   通常，自分から話を始めることはない  どちらかというと控えめで，静かな性格である  ...  近くでイベントがあれば参加するほうだ  どちらかというと，開放的で，陽気なタイプだと思う
0                  1                      2  ...                   3                         3
1                  2                      4  ...                   1                         0
2                  3                      4  ...                   3                         3
3                  4                      4  ...                   2                         2
4                  4                      2  ...                   0                         3

[5 rows x 6 columns]

In [79]:
dg.df_dynamic_info.head()

   現在，身体的に疲れを感じていますか？（%の値は疲労の度合いです）  ...  あなたは明日遊びに行くとするならば，どの遊びを選択しますか？次のジャンルのうち，明後日の予定や現在の身体的・精神的状態を考慮した後，当てはまるものを1つ選択してください．
0                                 3  ...                                                  1
1                                 5  ...                                                  7
2                                 4  ...                                                  6
3                                 2  ...                                                  6
4                                 4  ...                                                  6

[5 rows x 4 columns]

In [80]:
dg.df_static_info_binary.head()

   上記で選択した遊び(普段よくする遊び)を行うときは，1日でお金を平均で幾らほど使われますか？  ...                     label
0                                               3  ...  [1, 1, 0, 1, 0, 0, 0, 0]
1                                               3  ...  [0, 0, 0, 1, 0, 0, 1, 1]
2                                               5  ...  [0, 0, 1, 0, 0, 1, 1, 0]
3                                               1  ...  [0, 0, 0, 1, 1, 0, 1, 0]
4                                               1  ...  [1, 1, 0, 1, 0, 0, 0, 0]

[5 rows x 9 columns]

In [81]:
dg.df_static_info_weight.head()

   上記で選択した遊び(普段よくする遊び)を行うときは，1日でお金を平均で幾らほど使われますか？  ...                                     label
0                                               3  ...  [0.4, 1.0, 0.0, 0.7, 0.0, 0.0, 0.0, 0.0]
1                                               3  ...  [0.0, 0.0, 0.0, 0.7, 0.0, 0.1, 0.4, 1.0]
2                                               5  ...  [0.0, 0.0, 0.4, 0.0, 0.0, 0.7, 1.0, 0.0]
3                                               1  ...  [0.0, 0.1, 0.0, 1.0, 0.4, 0.1, 0.7, 0.1]
4                                               1  ...  [0.7, 1.0, 0.0, 0.4, 0.0, 0.0, 0.0, 0.0]

[5 rows x 9 columns]